<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401146116769-grcrfrtpksd0l4j9km8oc3h9iaki3hfr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401146116769-grcrfrtpksd0l4j9km8oc3h9iaki3hfr</string>
	<key>API_KEY</key>
	<string>AIzaSyAztnlyN2GXf7k4l1FXo3B2ghLjuivBlyE</string>
	<key>GCM_SENDER_ID</key>
	<string>401146116769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.airnote.app</string>
	<key>PROJECT_ID</key>
	<string>lesley-1ac2f</string>
	<key>STORAGE_BUCKET</key>
	<string>lesley-1ac2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401146116769:ios:a3d97f503c848d0fa1cee0</string>
	<key>DATABASE_URL</key>
	<string>https://lesley-1ac2f.firebaseio.com</string>
</dict>
</plist>